<div class="row justify-content-end">
    <div class="col-lg-11">
      <div class="row justify-content-end">

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box py-5">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="2300" class="purecounter">0</span>
            <p>Women Impacted</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box py-5">
            <i class="bi bi-person-badge"></i>
            <span data-purecounter-start="0" data-purecounter-end="500" class="purecounter">0</span>
            <p>Wentees</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box pb-5 pt-0 pt-lg-5">
            <i class="bi bi-person-circle"></i>
            <span data-purecounter-start="0" data-purecounter-end="177" class="purecounter">0</span>
            <p>Wentors</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box pb-5 pt-0 pt-lg-5">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="500" class="purecounter">0</span>
            <p>Testimonials</p>
          </div>
        </div>

      </div>
    </div>
  </div>