{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-aboutpage{% endblock %}

{% block content %}
      <!-- ======= Header section ======= -->
<section id="hero">

   

  {% include "includes/header_slider.html" %}

</section><!-- End header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container">

        {% include "includes/counter_icons.html" %}

        <div class="row services">

          {% for block in page.values_rows %}
              {% if block.block_type == "values" %}
                  {% for row in block.value %}

                  <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay=" {% cycle '0' '0' '100' '100' '200' '200' %} ">
                      <div class="icon"><i class="bi {{row.left_card_icon_class}}" style="color: {{row.left_card_icon_color_hex}};"></i></div>
                      <h4 class="title"><a href=""> {{row.left_card_title}} </a></h4>
                      <p class="description">

                        {% if not  row.left_card_text == "" %}
                          {{ row.left_card_text }}
                        {% else %}
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        
                        {% endif %}
                      </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay=" {% cycle '0' '0' '100' '100' '200' '200' %} ">
                      <div class="icon"><i class="bi {{row.right_card_icon_class}}" style="color: {{row.right_card_icon_color_hex}};"></i></div>
                      <h4 class="title"><a href=""> {{row.right_card_title}} </a></h4>
                      <p class="description">

                        {% if not  row.right_card_text == "" %}
                          {{ row.right_card_text}}
                        {% else %}
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        
                        {% endif %}
                      </div>
                  </div>

                  {% endfor %}
              {% endif %}
          {% endfor %}
          
        </div>
        
      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    {% if page.call_to_action %}
      <section id="cta" class="cta">
          <div class="container" data-aos="fade-in">
    
            <div class="text-center">
              <h3>
                {% if page.cta_title %}
                  {{page.cta_title}}
                {% else %}
                  Call To Action
                {% endif %}
              </h3>
              <p> 
                {% if not page.cta_text == "" %}
                    {{page.cta_text|richtext}}
                {% else %}
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, 
                  sunt in culpa qui officia deserunt mollit anim id est laborum.
                {% endif %} 

              </p>

              {% for block in page.cta_buttons %}
                  {% if block.block_type == "buttons" %}
                      {% for button in block.value %}
                      <a class="cta-btn" href="{{ button.link }}"> {{ button.text}}</a>
                      {% endfor %}
                  {% endif %}
              {% endfor %}

            </div>
    
          </div>
      </section><!-- End Cta Section -->
    {% endif %}

  
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2> Goals </h2>  
          <p>
            {% if not page.goals_title_text == "" %}
                {{ page.goals_title_text|richtext}}
            {% else %}
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
            {% endif %}
          </p>
        </div>

        <div class="row">

          {% for block in page.goals_cards %}
            {% if block.block_type == "goals" %}
              {% for card in block.value %}
                  <div class="col-md-6 d-flex align-items-stretch {% cycle '' 'mt-4 mt-md-0' 'mt-4' 'mt-4' %}" 
                  data-aos="fade-up" data-aos-delay="{% cycle '0' '0' '100' '100' %}">
                    {% if card.img %}
                    {% image card.img original as card_img %}
                    <div class="card" style="background-image: url('{{card_img.url}} ');">
        
                    {% else %}
                    <div class="card" style="background-image: url('{% static "img/features-1.jpg" %}');">
        
                    {% endif %}
                      <div class="card-body">
                        <h5 class="card-title"><a href="">{{ card.title }} </a></h5>
                        <p class="card-text">
                        {% if not card.text == "" %}
                          {{ card.text|richtext }}
                        {% else %}
                          Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua.
                        {% endif %}
                        </p>
                        <!--<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                      </div>
                    </div>
                  </div>
              {% endfor %}
            {% endif %}
          {% endfor %}

        </div>
        

      </div>
    </section><!-- End Features Section --> 

  <!-- ======= Our Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>What We Do</h2>
        <p>
          {% if not page.expertise_top_text == "" %}
            {{ page.expertise_top_text|richtext }}
          {% else %}
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate.
           Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
          {% endif %}
          </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          {% if page.expertise_img %}  
                  {% image page.expertise_img original as img %}
                  <img src=" {{ img.url}} " class="img-fluid" alt="">

              {% else %}        
              <img src=" {% static 'img/skills-img.jpg' %} " class="img-fluid" alt="">
              {% endif %}
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>
            {% if not page.expertise_right_title == ""  %}
              {{ page.expertise_right_title|richtext }}
            {% else %}
              Voluptatem dignissimos provident quasi corporis voluptates
            {% endif %}
          </h3>

          {% if not page.expertise_right_text == "" %}
            <div class="fst-italic">   {{ page.expertise_right_text|richtext }}</div>
          {% else %}
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
           {% endif %} 

           <!-- keep or remove, static or dynamic ? -->
          {% if page.expertise_progress_bars  %} 
              <div class="skills-content">

                {% for block in page.skills_and_progress %}
                  {% if block.block_type == "progress"  %}
                    {% for progress in block.value %}
                    <div class="progress">
                      <span class="skill"> {{progress.skill}} <i class="val">{{progress.value}}%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.value}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    {% endfor %}                    
                  {% endif %}                  
                {% endfor %}

              </div>
          {% endif %}

          <!-- button, only if like is set -->
          {% if not page.expertise_cta_link == "#"  %}
              <a class="btn-action" href="{{ page.expertise_cta_link }}"> {{ page.expertise_cta_text}}</a>
          {% endif %}

        </div>
      </div>

    </div>
  </section><!-- End Our Skills Section -->

  <!-- ======= Our Sponsors and Partners Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">
        {% if page.sponsors_section %}  
          <div class="sponsors"> 
            <div class="section-title">
              <h3>Sponsors</h3>
              <p>
                {% if not page.sponsors_top_text == "" %}
                  {{ page.sponsors_top_text|richtext}}
                {% else %}
                  Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. 
                  Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                {% endif %}
              </p>
            </div>

            {% for block in page.sponsors_details %}
              
              {% if block.block_type ==  "sponsors_logos" %}
                {% if block.value|length_is:"1" %}
                  {% for data in block.value %}
                    {% if data.website_link == "#"%}
                      <div class="d-flex justify-content-center"> 
                        {% image data.logo_img original as logo_image %}
                        <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                      </div>
                    {% else %}
                      <div class="d-flex justify-content-center"> 
                        <a href="{{ data.website_link }}"> 
                        {% image data.logo_img original as logo_image %}
                        <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                      </a>
                      </div>
                    {% endif %}
                  {% endfor %}  
                {% elif block.value|length > 1 %}
                  <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center"> 
                      {% for data in block.value %}
                        {% if data.website_link == "#" %}
                          <div class="swiper-slide">
                            {% image data.logo_img original as logo_image %}
                            <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                          </div>
                        {% else %}
                          <div class="swiper-slide">
                            {% image data.logo_img original as logo_image %}
                            <a href="{{ data.website_link}}"> 
                            <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                            </a>
                          </div>
                        {% endif %}
                        
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}            
              {% endif  %}

            {% endfor %}
            
          </div>
        {% endif %}

        {% if page.partners_section %}  
          <div class="partners"> 
              <div class="section-title">
                <h3>Partners</h3>
                <p>
                  {% if not page.partners_top_text == "" %}
                    {{ page.partners_top_text|richtext}}
                  {% else %}
                    Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. 
                    Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                  {% endif %}
                </p>
              </div>

              {% for block in page.partners_details %}
                
                {% if block.block_type ==  "partners_logos" %}
                  {% if block.value|length_is:"1" %}
                    {% for data in block.value %}
                      {% if data.website_link == "#"%}
                        <div class="d-flex justify-content-center"> 
                          {% image data.logo_img original as logo_image %}
                          <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                        </div>
                      {% else %}
                        <div class="d-flex justify-content-center"> 
                          <a href="{{ data.website_link }}"> 
                          {% image data.logo_img original as logo_image %}
                          <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                        </a>
                        </div>
                      {% endif %}
                    {% endfor %}  
                  {% elif block.value|length > 1 %}
                    <div class="clients-slider swiper">
                      <div class="swiper-wrapper align-items-center"> 
                        {% for data in block.value %}
                          {% if data.website_link == "#" %}
                            <div class="swiper-slide">
                              {% image data.logo_img original as logo_image %}
                              <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                            </div>
                          {% else %}
                            <div class="swiper-slide">
                              {% image data.logo_img original as logo_image %}
                              <a href="{{ data.website_link}}"> 
                              <img src=" {{ logo_image.url }} " class="img-fluid" alt="">
                              </a>
                            </div>
                          {% endif %}
                          
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}            
                {% endif  %}

              {% endfor %}
              
          </div>
        {% endif %}

      </div>
    </section><!-- End Our Sponsors and Client Section -->

   <!-- ======= Team Section ======= -->
   <section id="team" class="team section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Our Team</h2>
        <p>
            {% if not page.team_top_text == "" %}
              {{ page.team_top_text|richtext}}
            {% else %}
            Magnam dolores commodi suscipit. 
            Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
             Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.

            {% endif %}
        
        </p>
      </div>
      <div class="row">

    
        {% for block in page.team_members %}
          {% if block.block_type == 'members' %}             
            
            {% for member in block.value %}           
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                
                  <div class="member" data-aos="fade-up" data-aos-delay="{% cycle '' '100' '200' %}">
                    <div class="member-img">
                      
                      {% image member.photo original as member_image %}
                      <img src=" {{ member_image.url }} " class="img-fluid" alt="">
                      <div class="social">
                      {% if member.twitter_link %}
                        <a href="{{member.twitter_link}}"><i class="bi bi-twitter"></i></a>
                      {% endif %}
                        
                      {% if member.linkedin_link %}
                        <a href="{{member.linkedin_link}}"><i class="bi bi-linkedin"></i></a>
                      {% endif %}
                      </div>
                    </div>
                    <div class="member-info">
                      <h4>{{member.firstname}} {{member.surname}} </h4>
                      <span>{{ member.position}}</span>
                      <p>
                        {% if member.biography %}
                          {{ member.biography|richtext }}
                        {% else %}
                          Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis repudiandae perferendis qui. Neque non quidem sit sed pariatur quia modi ea occaecati. Incidunt ea non est corporis in.
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>

            {% endfor %}            

          {% endif %} 
        {% endfor %}
      
      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials-1.jpg' %}"  class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-item mt-4 mt-lg-0">
            <img src="{% static 'img/testimonials/testimonials-2.jpg' %}"  class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-item mt-4">
            <img src="{% static 'img/testimonials/testimonials-3.jpg' %}"  class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-item mt-4">
            <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-item mt-4">
            <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-item mt-4">
            <img src="{% static 'img/testimonials/testimonials-6.jpg' %}" class="testimonial-img" alt="">
            <h3>Emily Harison</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Eius ipsam praesentium dolor quaerat inventore rerum odio. Quos laudantium adipisci eius. Accusamus qui iste cupiditate sed temporibus est aspernatur. Sequi officiis ea et quia quidem.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Testimonials Section -->
 

  </main><!-- End #main -->

{% endblock %}

