{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-contactpage{% endblock %}

{% block content %}
 

  <main id="main">
        <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero purple-top">
          <div class="container">
            <div class="breadcrumb-hero">
              <h2>Contact</h2>
              
            </div>
          </div>
        </div>
       
  
          <!-- ======= Contact Section   ======= -->
    <section id="contact" class="contact">
        <div class="container ">
          
          <div class="row pt-4">
              <div class=" fw-bolder pl-4 pr-4 col-lg-12 d-flex align-items-center justify-content-center mb-4">
                <p class="contact-top-text">                
                  {{ page.contact_text|richtext }}
                </p>
              </div>
              {% for block in page.contact_info %}
                    {% if block.block_type == "contacts" %}
                    {% for contact in  block.value %}
                    <div class="col-lg-3 col-md-6">
                      <div class="info-box  mb-4 ">
                        
                          {% image contact.img original as img %}
                          <img src=" {{img.url}} " height="40" width="40">

                          <h3>Wentors</h3>
                        
                        <p>
                          {% if contact.type == "email" %}
                            <a href="mailto:{{contact.address_or_link}}" target="_blank">
                              
                              {{contact.address_or_link}}
                              
                            </a>

                          {% else %}
                            <a href="{{contact.address_or_link}}" target="_blank">
                              {% if contact.handle %}
                              {{ contact.handle}}
                              {% else %}
                              {{contact.address_or_link}}
                              {% endif %}
                            </a>

                          {% endif %}
                          
                          </p>
                      </div>
                    </div>
                  {% endfor %}
                  {% endif %}
                {% endfor%}
              <!-- </div>
              <div class="col-lg-6">
                <p class="contact-top-text">
                
                  {{ page.contact_text|richtext }}
                </p>

              </div> -->
           
          </div>

        </div>
      </section><!-- End Contact Section -->
  </main><!-- End #main -->

{% endblock %}