{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
      <!-- ======= Top header Section ======= -->
<section id="hero">

    

  {% include "includes/header_slider.html" %}

</section><!-- End Top header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container">

        {% include "includes/counter_icons.html" %}

        <div class="row">

          
            {% if page.video_url %}

                <div class=" col-lg-6 video-box align-self-baseline position-relative">
                
                  <!-- page.video_url -->
                  <!-- must be embed url for any video service -->
      
                  <iframe class="responsive-iframe"
                    src="{{ page.video_url}}" allowfullscreen>
                  </iframe>            
                </div>
            {% elif page.video_thumbnail_img %}

                <div class=" col-lg-6 about-img-box align-self-baseline position-relative">
                    {% image page.video_thumbnail_img original as img %}
                    <img src=" {{ img.url }} " class="img-fluid" alt="">

                </div>
                 
            {% else%}

                <div class=" col-lg-6 about-img-box align-self-baseline position-relative">

                      <img src=" {% static 'img/about.jpg' %} " class="img-fluid" alt="">
                </div>


            {% endif %}
            
          

          <div class="col-lg-6 pt-3 pt-lg-0 content">
             {% if page.video_section_title  %} 
            <h3> {{ page.video_section_title}} </h3>
            {% else %}
            <h3>Wentors is a global community dedicated to the growth of women in technology</h3>
            {% endif %}

            {%  if page.video_section_text %}
              <div class="fst-italic"> 
                {{ page.video_section_text|richtext }}
              </div>
            {% else %}            
            <!-- <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p> -->
            <ul>
              <li><i class="bx bx-check-square"></i> Free mentorship program for women in technology worldwide.</li>
              <li><i class="bx bx-check-square"></i> A vibrant community of 2300+ women in tech across four continents.</li>
              <li><i class="bx bx-check-square"></i> Mentored 700+ women in technology globally within our first year </li>
                <li><i class="bx bx-check-square"></i> 2000+ careers participants trained and educated in industry relevant soft skils </li>
              <li><i class="bx bx-check-square"></i> Aiming to impact 8,000,000+ women worldwide by 2030 to change the narratives for women in tech </li>
            </ul>
            <p>
             We are commited to transforming lives while pursuing our stated goals. 
             Should you choose to join use, you'll find that are in the right place and in good hands
            </p>
            {% endif %} 
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="home-tiles" class="home-tiles">
      <div class="container">

        <div class="row">
          {% for block in page.work_process_rows %}
            {% if block.block_type == "rows"  %}
                {% for row in block.value %}
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-2 mb-lg-0">
                    <div class="icon-box">
                      <div class="icon"><i class="bx {{ row.icon_class }}"></i></div>
                      <h4>{{ row.title }}</h4>
                      <p>
                         {{ row.text|richtext}}
                      </p>
                        {% if row.button  %}
                        <a href="{{ row.button.link }}" class=" home-rows-btn">{{ row.button.text }}</a>
                        {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
              {% endfor %}

          

        </div>

      </div>
    </section><!-- End Services Section -->

    
  <!-- ======= Testimonials Section ======= -->
  {% if page.testimony_display %}
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title">
        <h2>Testimonials</h2>

        {% if not page.testimony_top_text == "" %}
        {{ page.testimony_top_text|richtext}}
        {% else %}
        Magnam dolores commodi suscipit. 
        Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
        Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.

      {% endif %}     
    </div>

      <div class="row">
        {% comment %}
        {% endcomment %}


        {% for block in page.testimony_cards %}
          {% if block.block_type == 'testimonials' %}

            {% for info in block.value %}
            <div class="col-lg-6">
              {% if forloop.counter == 1 %}
                <div class="testimonial-item">
              {% elif forloop.counter == 2 %}
                <div class="testimonial-item mt-4 mt-lg-0">
              {% else %}
                <div class="testimonial-item mt-4 ">
              {% endif %}



                {% image info.photo original as photo_image %}
                <img src="{{ photo_image.url }}"  class="testimonial-img" alt="">
                <h3> {{ info.name }}</h3>
                <h4>{{info.current_position }} </h4>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ info.testimony}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>

              </div>
            </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
    
      </div>

    </div>
  </section>
{% endif %}
<!-- End Testimonials Section -->



    <!-- ======= Work Process Section ======= -->

     <!-- <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          
          {% if page.mid_section_title %}
          <h2> {{ page.mid_section_title}}</h2>
          {% else %}
           <h2> Title Here </h2>
          {% endif %}

          {% if page.mid_section_text %}
           {{ page.mid_section_text|richtext }}
          {% else %}
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

          {% endif %}                       

        </div>


        {% for block in page.work_process_rows %}
            {% if block.block_type == "rows"  %}
                {% for row in block.value %}
                    <div class="row content">

                      {% if forloop.counter == 1 or forloop.counter == 3 %}
                        <div class="col-md-5" data-aos="fade-right">
                      {% else %}
                        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left"> 
                      {% endif %}
            
                          {% if row.img %}  
                              {% image row.img original as  first_img %}
                              <img src=" {{ first_img.url }} " class="img-fluid" alt=""> 
            
                          {% else %}        
                        <img src=" {% static 'img/work-process-1.png' %} " class="img-fluid" alt=""> 
                        {% endif %}
            
                      </div>

                      {% if forloop.counter == 1  %} 
                          <div class="col-md-7 pt-4" data-aos="fade-left">

                      {% elif forloop.counter == 3 %}
                          <div class="col-md-7 pt-5" data-aos="fade-left">
                      
                      {% else %}
                          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                      {% endif %}

                        {% if row.title %}
                          <h3> {{ row.title}} </h3>
                        {% else %}
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        {% endif %}
            
                        {% if row.text %}
                          <div class="fst-italic"> 
                            {{ row.text|richtext}}
                            
                          </div>
                        {% else %}
                            <p class="fst-italic">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                              magna aliqua.
                            </p>
                            <ul>
                              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            </ul>
                        {% endif %}
                        
                        {% if row.button  %}
                        <a href="{{ row.button.link }}" class="btn-action home-rows-btn">{{ row.button.text }}</a>
                        {% endif %}

                      </div>
                    </div> 
                {% endfor %}
            {% endif %}
        {% endfor %}
        

      </div>
    </section> -->
    
    <!-- End Work Process Section -->


  </main><!-- End #main -->

{% endblock %}
