{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
      <!-- ======= Top header Section ======= -->
<section id="hero">

    

  {% include "includes/header_slider.html" %}

</section><!-- End Top header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container">

        {% include "includes/counter_icons.html" %}

        <div class="row">

          
            {% if page.video_url %}

                <div class=" col-lg-6 video-box align-self-baseline position-relative">
                
                  <!-- page.video_url -->
                  <!-- must be embed url for any video service -->
      
                  <iframe class="responsive-iframe"
                    src="{{ page.video_url}}" allowfullscreen>
                  </iframe>            
                </div>
            {% elif page.video_thumbnail_img %}

                <div class=" col-lg-6 about-img-box align-self-baseline position-relative">
                    {% image page.video_thumbnail_img original as img %}
                    <img src=" {{ img.url }} " class="img-fluid" alt="">

                </div>
                 
            {% else%}

                <div class=" col-lg-6 about-img-box align-self-baseline position-relative">

                      <img src=" {% static 'img/about.jpg' %} " class="img-fluid" alt="">
                </div>


            {% endif %}
            
          

          <div class="col-lg-6 pt-3 pt-lg-0 content">
             {% if page.video_section_title  %} 
            <h3> {{ page.video_section_title}} </h3>
            {% else %}
            <h3>Video section title appears here. .....Bla Bla Bla</h3>
            {% endif %}

            {%  if page.video_section_text %}
              <div class="fst-italic"> 
                {{ page.video_section_text|richtext }}
              </div>
            {% else %}            
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            {% endif %} 
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="home-tiles" class="home-tiles">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>
<!-- 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Work Process Section ======= -->
     <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          
          {% if page.mid_section_title %}
          <h2> {{ page.mid_section_title}}</h2>
          {% else %}
           <h2> Title Here </h2>
          {% endif %}

          {% if page.mid_section_text %}
           {{ page.mid_section_text|richtext }}
          {% else %}
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

          {% endif %}                       

        </div>


        {% for block in page.work_process_rows %}
            {% if block.block_type == "rows"  %}
                {% for row in block.value %}
                    <div class="row content">

                      {% if forloop.counter == 1 or forloop.counter == 3 %}
                        <div class="col-md-5" data-aos="fade-right">
                      {% else %}
                        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left"> 
                      {% endif %}
            
                          {% if row.img %}  
                              {% image row.img original as  first_img %}
                              <img src=" {{ first_img.url }} " class="img-fluid" alt=""> 
            
                          {% else %}        
                        <img src=" {% static 'img/work-process-1.png' %} " class="img-fluid" alt=""> 
                        {% endif %}
            
                      </div>

                      {% if forloop.counter == 1  %} 
                          <div class="col-md-7 pt-4" data-aos="fade-left">

                      {% elif forloop.counter == 3 %}
                          <div class="col-md-7 pt-5" data-aos="fade-left">
                      
                      {% else %}
                          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                      {% endif %}

                        {% if row.title %}
                          <h3> {{ row.title}} </h3>
                        {% else %}
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        {% endif %}
            
                        {% if row.text %}
                          <div class="fst-italic"> 
                            {{ row.text|richtext}}
                            
                          </div>
                        {% else %}
                            <p class="fst-italic">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                              magna aliqua.
                            </p>
                            <ul>
                              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            </ul>
                        {% endif %}
                        
                        {% if row.button  %}
                        <a href="{{ row.button.link }}" class="btn-action home-rows-btn">{{ row.button.text }}</a>
                        {% endif %}

                      </div>
                    </div> 
                {% endfor %}
            {% endif %}
        {% endfor %}
        

      </div>
    </section><!-- End Work Process Section -->


  </main><!-- End #main -->

{% endblock %}
