{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-jobspage {% endblock %}




{% block content %}
    

<main id="main">

    <!-- ======= Our Course details section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2> Jobs Board </h2>
        
      </div>

      <div class="row justify-content-center">
         

            <div class="col-lg-10 pt-4 pt-lg-0 content mb-4 jobs-top-desc" data-aos="fade-left">
                     {{ page.jobs_partners_descriptrion|richtext }}

            </div>
            
            {% for block in page.job_partners %}
                {% if block.block_type == "jobs_partners" %}
                    {% for partner in block.value %}

                    
                        <div class="card text-center mt-4 jobs-card" data-aos="fade-up">
                            
                            <div class="card-body">
                                <div class="card-img-div mx-auto ">
                                    {% image partner.job_partner_logo original as partner_logo %}
                                        <img src="{{partner_logo.url}}" class="img-fluid " alt="">
                                </div>


                            <h5 class="card-title"> Apply with {{partner.job_partner_name}} </h5>
                            <p class="card-text">
                                {{partner.job_partner_description|richtext}}
                                </p>
                            <a href="{{partner.job_partner_link}}" class="btn btn-action" target="_">Apply</a>
                            </div>
                        
                        </div>


                    {% endfor %}


                {% endif %}
            {% endfor %}
           
                       
      </div>

    </div>
  </section><!--// Course details -->

</main>



{% endblock %}