{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-jobspage {% endblock %}




{% block content %}
    

<main id="main">

    <!-- ======= Our Course details section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2> Jobs Board </h2>
        
      </div>

      <div class="row justify-content-center">
         

            <div class="col-lg-10 pt-4 pt-lg-0 content mb-4" data-aos="fade-left">
                     {{ page.jobs_partners_descriptrion|richtext }}

            </div>

            <div class="card text-center mt-4 jobs-card">
                
                <div class="card-body">
                    <div class="card-img-div mx-auto ">
                            <img src="{% static 'img/PTF_logo_edit.png' %}" class="img-fluid " alt="">
                    </div>


                  <h5 class="card-title">power to fly </h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                       eaque et quasi architecto beatae vitae dicta sunt explicabo. 
                      </p>
                  <button href="" class="btn btn-action">Apply</button>
                </div>
            </div> 
           
                       
      </div>

    </div>
  </section><!--// Course details -->

</main>



{% endblock %}