{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-programspage {% endblock %}

{% block content %}

{% for block in page.top_header %}
    {% if block.block_type == "header" %}
        {% image block.value.header_image original as img %}
        <section id="hero" style="background-image: url(' {{ img.url }} '); background-position: top; ">
            <div class="hero-container" data-aos="fade-up">
                
                {% if block.value.h1_text %}
                    <h1> {{block.value.h1_text}} </h1>
                {% else %}
                  <h1> Programs </h1>
                {% endif %}

                
                {% if block.value.h2_text %}
                <h2> {{ block.value.h2_text }} </h2>
                 {% endif %}
                

            </div>
        </section><!-- End Hero -->        
    {% endif %}
{% endfor %}

<main id="main">
  
    <!-- ======= Our Skills Section ======= -->
  <section id="programs" class="programs section-bg">

    {% for block in page.programs_list %}
      {% if block.block_type == "programs" %}
        {% for program in block.value %}
          <div class="program-bg" id="{{program.title}}"> 
            <div class="container">
              <div class="section-title" >
                  <h2> {{ program.title }} </h2>
                  <div class="main-description-text">                                
                      {{ program.description_text|richtext}}
                    
                  </div>
                    <a class="btn-action" href="{{program.button.link }}"> {{ program.button.text}}</a>
              </div>

                {% if program.program_breakdown|length > 0 %}

                  {% for sub in program.program_breakdown %}
                    <!-- bootstrap card -->
                    <div class="card text-center program-breakdown-card mx-auto" data-aos="fade-up">
                      <div class="card-header">
                        {{sub.sub_title}} Cohort
                      </div>
                      {% if sub.img %} 
                            <div class="card-img-top-div mx-auto"> 
                                {% image sub.img original as img %}
                                  <img src=" {{ img.url }} " class="card-img-top mx-auto img-fluid" alt="cohort image">
                                
                              </div>
                      {% endif %}

                      <div class="card-body">
                         <h5 class="card-title"> {{ sub.sub_title}} </h5> 
                        <div class="card-text">
                          {{sub.text|richtext }}

                        </div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                      
                    </div>              
                    <!-- //card-->                   

                  {% endfor %}
                {% endif%}

                {% if program.program_features_table  %}
                  <div class="features-table-container" >

                    <!-- <table class="table subscription-price-table">
                      <tr>
                        <td>
                          Premium 
                        <td class="month"> 
                          $15/Month
                        </td>
                        <td class="quarter">
                          $40/Quarter
                        </td>
                        <td class="year">
                          $150/Year
                        </td>
                      </tr>
                    </table> -->


                    <table class="table table-features-tick">
                        <colgroup>
                          <col class="feature"/>
                          <col  span="2" class="check"/>
                        </colgroup>
                        <thead>
                          <tr>
                            <th class="hide" ></th>
                            <th class="bg-purple" scope="col">Free</th>
                            <th class="bg-blue" scope="col">Premium</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                        
                          <tr>
                            <td colspan="3" class="sep">Mentorship</td>
                          </tr>
                          <tr>
                            <td>Cohort-based Mentorship</td>
                            <td><span class="tick">&#10004;</span></td>
                            <td><span class="tick">&#10004;</span></td>
                        
                          </tr>
                          <tr>
                            <td>Career Private Mentorship</td>
                            <td></td>
                            <td><span class="tick">&#10004;</span></td>
                            
                          </tr>
                          
                          <tr>
                            <td colspan="3" class="sep">Networking</td>
                          </tr>
                          <tr>
                            <td>Career Networking </td>
                            <td><span class="tick">&#10004;</span></td>
                            <td class><span class="tick">&#10004;</span></td>                            
                          </tr>

                          <tr>
                            <td>Location Specific Networking</td>                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          <tr>
                            <td>Cross Border Networking</td>
                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td colspan="3" class="sep">Regional Job Posting</td>
                          </tr>
                          <tr>
                            <td>Regional Job Roles </td>
                            <td><span class="tick">&#10004;</span></td>
                            <td class=""><span class="tick">&#10004;</span></td>                            
                          </tr>

                          <tr>
                            <td>CV Optimization</td>                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          <tr>
                            <td>Interview Preps With Recruitment Experts</td>
                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          <tr>
                            <td>Virtual Recruitment Events</td>
                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          
                          <tr>
                            <td class="sep">Industry specific Webinar</td>
                            
                            <td class="sep"><span class="tick">&#10004;</span></td>
                            <td class="sep"><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td class="sep">Access to Certification Vouchers</td>
                            
                            <td class="sep"></td>
                            <td class="sep"><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td class="sep">Soft Skills Training</td>
                            
                            <td class="sep"><span class="tick">&#10004;</span></td>
                            <td class="sep"><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td class="sep">Masterclass/Workshops</td>
                            
                            <td class="sep"></td>
                            <td class="sep"><span class="tick">&#10004;</span> (30% discounts)</td>
                          </tr>

                        </tbody>
                    </table>
                 </div>

                {% endif %}
            </div>

          </div>

        {% endfor %}
      {% endif %}
    {% endfor %}

  </section>
  <!-- // Programs Section -->

</main>



{% endblock %}