{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-programspage {% endblock %}

{% block js_onload %}collapse(){% endblock %}

{% block content %}


<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero purple-top">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Programs</h2>
          <p class="contact-top-text">
            
          </p>
        </div>
      </div>
    </div>
  </section>
  
    <!-- ======= Our Skills Section ======= -->
    <section id="programs" class="programs">
      <div class="container">
        {% for block in page.cohorts %}
      {% if block.block_type == "cohorts" %}
        {% for info in block.value %}
        
        <div class="row">
          
          <div class="col-lg-6">
            {% if info.cohorts_image %}
              {% image info.cohorts_image original as img %}
              <img src=" {{ img.url }} " class="card-img-top mx-auto img-fluid" alt="cohort image">
             {% else %}
            <img src="{% static 'img/skills-img.jpg' %} " class="img-fluid" alt="">
            {% endif %}
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3> Cohorts</h3>
            
            <p>
              {{ info.cohorts_description|richtext}}
            </p>

            <ul>
              {% for  type in info.cohorts_list %}
              <li><i class="bi bi-check-circle"></i> {{ type.title }}</li>
              {% endfor %}
              
            </ul>
          </div>

          {% for  type in info.cohorts_list %}

          {% if forloop.counter == 1 %}
          <div class="col-lg-12 pt-4 pb-2 courses-content-collapsible w-100 " data-aos="fade-top"> 
          {% else %}
          <div class="col-lg-12 pt-2 pb-2 courses-content-collapsible w-100 " data-aos="fade-top"> 
          {% endif%}
          
          <button type="button" class="collapsible">{{ type.title }}</button>
              
            <div class="collapse-content">
              {{ type.text|richtext }}
            </div>
          </div>
          {% endfor %}
          


        </div>
        {% endfor %} 
        {% endif %} 
        {% endfor %}
      
      </div>

    </section><!-- End About Section -->


  <section id="" class="programs section-bg">

    {% for block in page.membership_info %}
      {% if block.block_type == "membership" %}
          <div class="program-bg" id="{{program.title}}"> 
            <div class="container">
              <div class="row pb-4">

                <div class="col-lg-6">
                  {% if block.value.image %}
                    {% image block.value.image original as img %}
                    <img src=" {{ img.url }} " class="card-img-top mx-auto img-fluid" alt="cohort image">
                   {% else %}
                  <img src="{% static 'img/skills-img.jpg' %} " class="img-fluid" alt="">
                  {% endif %}
                </div>
      
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3> Members Portal</h3>
                  
                  <p>
                    {{ block.value.description|richtext}}
                  </p>
      
                  <a class="btn-action" href=" {{block.value.button.link}} "> {{ block.value.button.text }}</a> <br/> 
                </div>

              </div>
              
                {% if block.value.features_table  %}
                  <div class="features-table-container" >

                    <table class="table table-features-tick">
                        <colgroup>
                          <col class="feature"/>
                          <col  span="2" class="check"/>
                        </colgroup>
                        <thead>
                          <tr>
                            <th class="hide" ></th>
                            <th class="bg-purple" scope="col">Free</th>
                            <th class="bg-blue" scope="col">Premium</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                        
                          <tr>
                            <td colspan="3" class="sep">Mentorship</td>
                          </tr>
                          <tr>
                            <td>Cohort-based Mentorship</td>
                            <td><span class="tick">&#10004;</span></td>
                            <td><span class="tick">&#10004;</span></td>
                        
                          </tr>
                          <tr>
                            <td>Career Private Mentorship</td>
                            <td></td>
                            <td><span class="tick">&#10004;</span></td>
                            
                          </tr>
                          
                          <tr>
                            <td colspan="3" class="sep">Networking</td>
                          </tr>
                          <tr>
                            <td>Career Networking </td>
                            <td><span class="tick">&#10004;</span></td>
                            <td class><span class="tick">&#10004;</span></td>                            
                          </tr>

                          <tr>
                            <td>Location Specific Networking</td>                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          <tr>
                            <td>Cross Border Networking</td>
                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td colspan="3" class="sep">Regional Job Posting</td>
                          </tr>
                          <tr>
                            <td>Regional Job Roles </td>
                            <td><span class="tick">&#10004;</span></td>
                            <td class=""><span class="tick">&#10004;</span></td>                            
                          </tr>

                          <tr>
                            <td>CV Optimization</td>                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          <tr>
                            <td>Interview Preps With Recruitment Experts</td>
                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          <tr>
                            <td>Virtual Recruitment Events</td>
                            
                            <td class=""></td>
                            <td><span class="tick">&#10004;</span></td>
                          </tr>
                          
                          <tr>
                            <td class="sep">Industry specific Webinar</td>
                            
                            <td class="sep"><span class="tick">&#10004;</span></td>
                            <td class="sep"><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td class="sep">Access to Certification Vouchers</td>
                            
                            <td class="sep"></td>
                            <td class="sep"><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td class="sep">Soft Skills Training</td>
                            
                            <td class="sep"><span class="tick">&#10004;</span></td>
                            <td class="sep"><span class="tick">&#10004;</span></td>
                          </tr>

                          <tr>
                            <td class="sep">Masterclass/Workshops</td>
                            
                            <td class="sep"></td>
                            <td class="sep"><span class="tick">&#10004;</span> (30% discounts)</td>
                          </tr>

                        </tbody>
                    </table>
                 </div>

                {% endif %}
            </div>

          </div>

      {% endif %}
    {% endfor %}

  </section>
  <!-- // Programs Section -->

</main>



{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
    <script>
      function collapse() {
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("collapse-active");
                var content = this.nextElementSibling;     
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                    content.style.paddingTop = null;
                    content.style.paddingBottom = null;

                } else {
                    var contentHeight = content.scrollHeight + 25;
                    content.style.maxHeight = contentHeight + "px";
                    content.style.paddingTop = "15px";
                    content.style.paddingBottom = "10px";
                }
                });
            }
            }
    </script>
        
{% endblock %}