{% load wagtailimages_tags %}

  <div id="headerCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      
      {% for block in page.carousel_slides %}
        {% if block.block_type == "slides" %}
          {% for slide in block.value %}

              {% if forloop.counter0 == 0 %}
                  <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
              {% else %} 
                  <li data-target="#headerCarousel" data-slide-to="{{forloop.counter0}}"></li>
              {% endif %}

          {% endfor%}
        {% endif %}
      {% endfor %}

    </ol>
    <div class="carousel-inner" role="listbox">

        {% for block in page.carousel_slides %}
            {% if block.block_type == "slides" %}
              {% for slide in block.value %}

              {% image slide.slider_image original as slide_img %}
                {% if forloop.counter0 == 0 %}
                  <div class="carousel-item active" style="background-image: url(' {{ slide_img.url }} ')">
                {% else %} 
                  <div class="carousel-item " style="background-image: url(' {{ slide_img.url }} ')">
                {% endif %}   
                    <div class="carousel-caption d-md-block">
                      <h1>{{ slide.title }}</h1>
                      <h2> {{ slide.text }} </h2>
                      <a href="{{ slide.button.link}}" class="btn-get-started scrollto"> {{ slide.button.text }} </a>
                    </div>
                  </div>
              {% endfor %}
            {% endif %}
        {% endfor %}
    
        <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
