{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
 

  <main id="main">
        <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero purple-top">
          <div class="container">
            <div class="breadcrumb-hero">
              <h2>Contact</h2>
              <p class="contact-top-text">
                {{ page.top_text|richtext }}
              </p>
            </div>
          </div>
        </div>
       
  
          <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
          
          <div class="links" data-aos="fade-up">
            
              {% for block in page.contact_info %}
                {% if block.block_type == "contacts" %}
                 {% for contact in  block.value %}
                    <div class="link">
                      <span>
                        {% image contact.img original as img %}
                        <img src=" {{img.url}} "/>
                      </span>
                      <span>
                        {% if contact.type == "email" %}
                          <a href="mailto:{{contact.address_or_link}}" target="_blank">
                            
                            {{contact.address_or_link}}
                            
                          </a>

                        {% else %}
                          <a href="{{contact.address_or_link}}" target="_blank">
                            {% if contact.handle %}
                            {{ contact.handle}}
                            {% else %}
                            {{contact.address_or_link}}
                            {% endif %}
                          </a>

                        {% endif %}
                        
                      </span>
                    </div>
                 {% endfor %}
                {% endif %}
              {% endfor%}
              
             
            </div>
        </div>
      </section><!-- End Contact Section -->
  </main><!-- End #main -->

{% endblock %}