{% extends "site_base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
      <!-- ======= Hero Section ======= -->
<section id="hero">

    <!--<div class="hero-container d-flex align-items-center" data-aos="fade-up">
        <h1>Welcome to Serenity</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>

    </div>-->

  {% include "includes/header_slider.html" %}

</section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                  <p>Happy Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Projects</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                  <p>Years of experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Awards</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            
            <!-- page.video_url -->

            {% if page.video_url %}
            <iframe width="540" height="405"
              src="{{ page.video_url }}">
            </iframe>
            {% elif page.video_thumbnail_img %}
                {% image page.video_thumbnail_img original %} 
            {% else%}
              <img src=" {%static 'img/about.jpg' %} " class="img-fluid" alt="">
            {% endif %}
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
             {% if page.video_section_title  %} 
            <h3> {{ page.video_section_title}} </h3>
            {% else %}
            <h3>Video section title appears here. .....Bla Bla Bla</h3>
            {% endif %}

            {%  if page.video_section_text %}
              <div class="fst-italic"> 
                {{ page.video_section_text|richtext }}
              </div>
            {% else %}            
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            {% endif %} 
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Work Process Section ======= -->
     <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          
          {% if page.mid_section_title %}
          <h2> {{ page.mid_section_title}}</h2>
          {% else %}
           <h2> Title Here </h2>
          {% endif %}

          {% if page.mid_section_text %}
           {{ page.mid_section_text|richtext }}
          {% else %}
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

          {% endif %}                       

        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">

              {% if page.first_row_img %}  
                  {% image page.first_row_img original %}
              {% else %}        
             <img src=" {% static 'img/work-process-1.png' %} " class="img-fluid" alt=""> 
             {% endif %}

          </div>

          <div class="col-md-7 pt-4" data-aos="fade-left">

            {% if page.first_row_title %}
              <h3> {{ page.first_row_title}} </h3>
            {% else %}
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            {% endif %}

            {% if page.first_row_text %}
              <div class="fst-italic"> 
                {{ page.first_row_text|richtext}}
              </div>
            {% else %}
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                </ul>
            {% endif %}
          </div>
        </div>                  
            
            

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">

              {% if page.second_row_img %}  
                  {% image page.second_row_img original %}
              {% else %}        
              <img src=" {% static 'img/work-process-2.png' %} " class="img-fluid" alt="">
              {% endif %}

          </div>

          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">

            {% if page.second_row_title %}
              <h3> {{ page.second_row_title}} </h3>
            {% else %}
            <h3>Corporis temporibus maiores provident</h3>
            {% endif %}

            {% if page.second_row_text %}
              <div class="fst-italic"> 
                {{ page.second_row_text|richtext}}
              </div>
            {% else %}
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
            {% endif %}
          </div>
        </div>

        <div class="row content">

          <div class="col-md-5" data-aos="fade-right">

              {% if page.third_row_img %}  
                  {% image page.third_row_img original %}
              {% else %}        
              <img src=" {% static 'img/work-process-3.png' %} " class="img-fluid" alt="">
              {% endif %}

          </div>

          <div class="col-md-7 pt-5" data-aos="fade-left">

            {% if page.third_row_title %}
              <h3> {{ page.third_row_title}} </h3>
            {% else %}
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            {% endif %}
            
            {% if page.third_row_text %}
              <div class="fst-italic"> 
                {{ page.third_row_text|richtext}}
              </div>
            {% else %}
              <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
              <ul>
                <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
              </ul>
            {% endif %}
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
              {% if page.fourth_row_img %}  
                  {% image page.fourth_row_img original %}
              {% else %}        
              <img src=" {% static 'img/work-process-4.png' %} " class="img-fluid" alt="">
              {% endif %}

          </div>

          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">

            {% if page.fourth_row_title %}
              <h3> {{ page.fourth_row_title}} </h3>
            {% else %}
              <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            {% endif %}

            {% if page.fourth_row_text %}
              <div class="fst-italic"> 
                {{ page.fourth_row_text|richtext}}
              </div>
            {% else %}
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
              {% endif %}
          </div>
        </div>

      </div>
    </section><!-- End Work Process Section -->


  </main><!-- End #main -->

{% endblock %}